#gelcr23 {
    all: initial;
    width: 330px;
    height: 84px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    margin: 0;
    padding: 0;
    z-index: 10000;
    border: none;
}

#gelcr23 * {
    all: unset;
}

#gelcr23::before,
#gelcr23::after,
#gelcr23 *::before,
#gelcr23 *::after {
  all: unset;
}
