:root {color-scheme: light dark} body {color-scheme: light dark} 

@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    src: local('Abel'), url('chrome-extension://lhnafjaglgkdmiklbnhgjdjkaopfdbeo/modal/assets/Abel-Regular.woff') format('woff');
    
}
html {
    background-color: transparent;
}
body {
    padding: 0 5 0 5;
    margin: 0;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container {
    display:flex;
    flex-direction:row;
    box-sizing: content-box;
}

.title{
    color:black;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    line-height: normal;
    white-space: nowrap;
}

.subtitle{
    color:black;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
}

.button {
    background: white;
    height: 56px;
    width: 56px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 12px;
    cursor: pointer;
}

.modal-container {
    background: white;
    height: 56px;
    width: 56px;
    min-width: 56px;
    border-radius: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25);
    padding: 0px 0px 0px 0px;
    transition: width .3s ease-out;
    cursor: pointer;
    box-sizing: content-box;
}

.hidden-text{
    overflow: hidden;
    max-height: 0px;
    max-width: 0px;
    line-height: normal;
    opacity:0;
    white-space: nowrap;
    transition: opacity .4s linear, max-width .2s ease-out, max-height .2s ease-out, margin .1s ease-out;
}

.modal-container.inactive.hover{
    width: 240px;
}

.modal-container.active.hover{
    width: 265px;
}

.modal-container.hover > .hidden-text{
    opacity: 1;
    max-height: 500px;
    max-width: 500px;
    margin: 0px 0px 0px 10px;
}

.modal-container.ask{
    width:365px;
    cursor:default;
}

.modal-container.success{
    width:224px;
    cursor:default;
}

.modal-container.locked{
    width:320px;
    cursor:default;
}

.modal-container.unlocked{
    width:250px;
    cursor:default;
}

.ask .title {
    margin: 0px 12px 0px 12px;
}


.lock-text {
    margin: 0px 8px 0px 16px;
    line-height: normal;
}

.unlock-text {
    display: none;
    margin: 0px 8px 0px 16px;
}

.disabled-text {
    display: none;
}

.enabled-text {
    display: none;
    line-height: normal;
}

.success-text {
    display: none;
    margin: 0px 0px 0px 12px;
}

.button.ask {
    display: none;
}

.ask-text{
    display: none;
    overflow: hidden;
    white-space: nowrap;
}


@keyframes spin {
    0%, 10%    { transform: rotate(0deg); }
    90%, 100%  { transform: rotate(720deg); }
}

.logo {
    height: 30px;
    margin: 0px 0px 0px 13px;
    transition: margin .2s ease;
}

.logo.spinning {
    animation: spin 1.2s ease infinite;
}

.subtitle{
    font-size: 11;
    color:#6B6C6E;
}

.form {
    display: flex;
    justify-content: center;
    margin: 0px 8px 0px 8px;
}

input.input { 
    box-sizing: border-box !important;
    width: 18px !important;
    height: 24px !important;
    margin: 0px 3px !important;
    padding: 1px 2px !important;
    margin: 0px 3px !important;
    border: 1px solid #333 !important;
    text-align: center !important;
    font-family: 'Abel', sans-serif !important;
    color: black;
    font-size: 16px !important;
    background-color: white !important;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    appearance: none;
  -webkit-appearance: none;
  margin: 0px;
}